<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css"/>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="/static/js/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/common.css"/>
</head>
<body>
<div class="container-fluid">
    <header>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="nav-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#m-nav-main">
                        <span class="sr-only">切换导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Minitcp</a>
                </div>
                <div class="collapse navbar-collapse" id="m-nav-main">
                    <ul class="nav navbar-nav">
                        <li><a href="/">首页</a></li>
                        <li><a href="/study.html">讲武堂</a></li>
                        <li><a href="/tool.html">开发百宝箱</a></li>
                        <li><a href="/article.html">IT热文</a></li>
                        <li>
                            <form class="navbar-form pull-right">
                                <div class="input-group input-group-md" style="min-width: 250px">
                                    <input type="text" class="form-control" placeholder="搜点什么吧"/>
                            <span class="input-group-btn"><input type="button" class="btn btn-default"
                                                                 value="Go!"/></span>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
   <!--     <ol class="breadcrumb">
            <li><a href="#">主页</a></li>
            <li><a href="#">IT热文列表</a></li>
        </ol>-->
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                        <div class="media-list">
                            <div class="media" th:each="blog:${blogs}">
                                <div class="pull-right">

                                    <img th:src="${'http://img02.store.sogou.com/net/a/05/link?appid=100520091&amp;w=240&amp;h=120&amp;url=' + blog.getConverPlan()}" />
                                </div>
                                <div class="media-body">
                                    <a th:href="${blog.getSourceUrl()}">
                                    <h5 class="media-heading" th:text="${blog.getTitle()}">谁家的孩子?笑死我了，送给朋友们解解压!</h5>
                                    <span style="color: #0E2D5F" th:text="${blog.getContent().substring(0,55)+'...'}">妈的，我进个球容易吗我...4.这年头狮子都热化了。5.无聊的最高境界......6.醉翁之意不在酒。7...</span>
                                    <h6>
                        <span class="pull-left" th:text="${'来源:'+blog.getAuthor()}">
                        来源:醉眼看人间
                            </span>
                        <span class="pull-right" th:text="${#dates.format(blog.postTime(),'yyyy-MM-dd HH:mm:ss')}">
                            发布日期:
                        </span>
                                    </h6>
                                    </a>
                                </div>
                            </div>
                        </div>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>

    <!--<ul>

        <li th:each="blog:${blogs}">
            &lt;!&ndash;/*@thymesVar id="blog" type="com.zs.minitcp.model.Blog"*/&ndash;&gt;
            <a th:href="${blog.getSourceUrl()}" width="120" th:height="120">
                <iframe th:src="${blog.getConverPlan()}" frameBorder="0" scrolling="no" width="120" height="120"></iframe>
                <label th:text="${blog.getTitle()}"></label>
                <span th:text="${blog.getPostTime()}"></span>
            </a>
        </li>
    </ul>-->
</div>
</body>
<!--<script src="/static/js/common.js">-->

</html>